@font-face {
	font-family: "Exocet_Light";
	src: url('../fonts/Exocet-Light_16428.ttf');
}

.psfont {
	font-family: "Exocet_Light";
}

.handwritten {
	font-family: 'Homemade Apple', cursive;
}

.debatefont {
	font-family: 'Rock Salt', cursive;
}

.navbar-light {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 99999;
	background-color: transparent !important;
}

.top-buffer {
	margin-top: 115px;
}

.bg-pic {
	height: 100vh;
	width: 100vw;
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: "#B04525";
	margin-bottom: 0;
	margin-top: 0;
}

#home {
	height: 100%;
}

#sigil {
	background-image: url(../images/sigil_and_spire.jpg);
	background-repeat: no-repeat;
	background-size: cover;	
	position: relative;
	height: auto;
}

.overlay-section {
	margin-bottom: 0;

}

.gray-overlay {
/*	width: auto;*/
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
/*	background-color: #4C504F;*/
/*	box-shadow: 0px 5px 8px rgba(0,0,0,0.2), 0px -5px 8px rgba(0,0,0,0.2);*/
	text-align: center;
/*	padding-right: 10%;
	padding-left: 10%;*/
/*	margin-bottom: 0;*/
}

.box {

	width: 300px;
	background: white;
	padding: 10px;
	text-align: center;
	font-weight: 900;
	color: black;
	position:relative;
	box-shadow: 0px 5px 8px rgba(0,0,0,0.2), 0px -5px 8px rgba(0,0,0,0.2);
}

.sb1 {
	margin-top: 50px;
	margin-left: 10px;
}

.sb1:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid white;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
	border-bottom: 10px solid transparent;
	right: -20px;
	top: 6px;
}

.sb2 {
	margin-top: 50px;
	margin-left: 10px;
}

.sb2:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid white;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
	border-bottom: 10px solid transparent;
	right: -20px;
	top: 6px;
}

.sb3 {
	margin-top: 50px;
	margin-left: 10px;
}

.sb3:before {
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 10px solid white;
	border-right: 10px solid transparent;
	border-top: 10px solid white;
	border-bottom: 10px solid transparent;
	right: -20px;
	top: 6px;
}


.filler-section {
	height: calc(100% - 5px);
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #4C504F;
	box-shadow: 0px 5px 8px rgba(0,0,0,0.2), 0px -5px 8px rgba(0,0,0,0.2);
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
	margin-bottom: 0;
	width: 100vw;
}

.filler-section h1 {
	color: red;
}

#sincity {
	background-image: url(../images/marv_by_lohgz.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#sincity h1 {
	color: red;
}

#woman {
	background-color: #4A4B4C;
	
	background-position: top right;
}

.woman-container {
	position: relative;
	height: 100vh;
	background-image: url(../images/ghost.jpg);

}

.woman-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.woman-overlay h1 {
	color: red;
}

#woman-container img {
	 
	max-width: 100%;
	max-height: 100%;
/*	display: block;*/

	background-size: cover;
	object-fit: cover;
	overflow: hidden;
	background-position: center center;
}

.woman-animation {
	animation: fadeOut 4s linear 1 forwards;
	-webkit-animation: fadeOut 4s linear 1 forwards;
}

.red-text {
	color: red;
}

.right-float {
	float: right;
}

#asylum {
	height: 50vw;
	background-image: url(../images/gatehouse.jpg);
	background-size: cover;
	background-color: #4A4B4C;
}

.tl-overlay {
/*	margin-top: 50px;*/
	margin-left: 10px;
	-webkit-animation: fadeinout 4s linear;
    animation: fadeinout 4s linear;
    animation-iteration-count: infinite;
}

.tr-overlay {
/*	margin-top: 50px;*/
	margin-left: 10px;
	opacity: 0;
	-webkit-animation: fadeinout 4s linear;
    animation: fadeinout 4s linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    color: red;
    animation-
}

#streets {
	background-image: url(../images/sigil_street.jpg);
	background-size: contain;
	background-position: left top;
	background-color: #4A4B4C;
}

.quote-row {
	height: auto;
	margin-top: 5px;
	margin-bottom: 7px;
	margin-right: 5px;
	margin-left: 5px;

}

.quote-card {
	width: 80%;
	height: 100%;
	text-align: center;

}

.quote-card p {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2vh;
	padding-bottom: 5px
}

.quote-card-out {
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2), 5px -1px 5px rgba(0,0,0,0.2);
	background-color: #9A8C98;
}

.quote-card-in {
	box-shadow: inset 0 0 10px #000000;
	background-color: #4A4E69;
	color: white;
}

.chandler {

}

.stranger {

}

#bariaur {
	background-image: url(../images/bariaur.jpg);
	background-size: contain;
	background-position: right top;
	background-color: #4A4B4C;
}
#torment {
	background-image: url(../images/torment.jpg);
	background-size: contain;
	background-color: black;
}


#daffodils {
	position: absolute;
	top: 40%;
	left: 60%;
	transform: translate(-50%, -50%);
	-webkit-animation: fadeIn 9s ease-out 1;
    animation: fadeIn 9s ease-out 1;
    animation-iteration-count:  ;
}

.history-offset {
	margin-bottom: 100vh;
}

#history-box {
	padding-left: 10px;
	padding-bottom: 15px;
	color: white;
}

#history-box h2 {
	box-shadow: 0px 5px 8px rgba(0,0,0,0.2), 0px -5px 8px rgba(0,0,0,0.2);

}

#first-war {
	background-image: url(../images/first-war.jpg);
	background-size: contain;
	background-color: black;
}

#first-war h3 {
	padding-top: 30px;

	text-align: center;
	color: black;
	text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.fadeIn {
    -webkit-animation: fadeIn 9s ease-out 1 forwards;
    animation: fadeIn 9s ease-out 1 forwards;
    animation-iteration-count: 1;
}

.fadeDelay2 {
	opacity: 0;
	animation-delay: 2s;
}

.fadeDelay3 {
	opacity: 0;
	animation-delay: 3s;
}

.fadeDelay5 {
	opacity: 0;
	animation-delay: 5s;
}

@-webkit-keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% {opacity: 0; }
}

@keyframes fadeinout {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  0% { opacity: 1; }
  100% {opacity: 0.2; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% {opacity: 0.2; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% {opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% {opacity: 1; }
}
